@tailwind base;
@tailwind components;
@tailwind utilities;

body > div > main > div > div{
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    column-gap: 50px;
    row-gap: 50px;
}
.journal_title{
    font-weight: bold;
}
.journal_edit_btn{
    color: rgb(60, 60, 228);
    padding-right: 100px;
}
.journal_delete_btn{
    color: red;
}
